.qzhead {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
    min-height: 500px;
    background-position: center; /* Center the image */
    background-image: url("../assets/images/find.jpeg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}